<div class="sb-nav-fixed">
  <app-navbar></app-navbar>
  <div id="layoutSidenav">
    <app-slider></app-slider>

    <div id="layoutSidenav_content">
      <main>
        <div  class="container-fluid px-4">
          <h1 class="mt-4">Listas de Estudiantes</h1>
          
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Listas </li>
          </ol>
          <div class="card mb-4">
            <div class="card-body">
              <!-- <p class="mb-0">
                This page is an example of using static navigation. By removing
                the
                <code>.sb-nav-fixed</code>
                class from the
                <code>body</code>
                , the top navigation and side navigation will become static on
                scroll. Scroll down this page to see an example.
              </p> -->
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Tabla
              </div>
              <div class="card-body">

                <div>
              
                  <button type="button" class="btn btn-primary" [routerLink]="['/add']">Agregar Estudiante</button>
                  <table *ngIf="listEstudiante.length > 0" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">numero</th>
                        <th scope="col">email</th>
                        <th scope="col">dni</th>
                        
                      </tr>
                    </thead>
              
                    <tbody>
                      <tr *ngFor="let item of listEstudiante; let i = index" style="background: white !important;">
                        <!-- <td>{{ i + 1 }}</td> -->
                        <td>{{ item.Nombres }}</td>
                        <td>{{ item.Apellidos }}</td>
                        <td>{{item.num_cel}}</td>
                        <td>{{item.email}}</td>
                        <td>{{ item.DNI}}</td>
                        <td>
                            <button [routerLink]="['/edit',item.id]"  type="button"  class="btn btn-success btn-sm" >Editar</button>
                            <button (click)="deleteEstudiante(item.id!) "type="button" class="btn btn-danger btn-sm ms-2">Eliminar</button>
                            
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 *ngIf="listEstudiante.length == 0">No hay datos para mostrar</h5>
                 <br>
                  <div class="pagina">
                  <div class="paginacion">
                    <ul class="pagination pagination-sm">
                      <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">5</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">&raquo;</a>
                      </li>
                    </ul>
                  </div>
                 </div>
              
                </div>
              </div >
            </div>
          </div>
          <div style="height: 100vh"></div>
          <div class="card mb-4">
            <div class="card-body">
              When scrolling, the navigation stays at the top of the page. This
              is the end of the static navigation demo.
            </div>
          </div>
        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
